/* Iletisim section*/

.cevik-pansiyon-iletisim {
  background-color: rgb(250, 245, 245);
}

.section-head-iletisim {
  text-align: center;
  margin-bottom: 2rem;
  /* background-color: var(--purple-transparent); 
    color: aliceblue; */
  /* padding: 1rem; */
}

.iletisim-adres-subheading {
  padding-top: 20px;
  padding-bottom: 20px;
  /* background-color: rgb(215, 215, 246); */
}

.iletisim-grid {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(42rem, 1fr));
  grid-gap: 1.5rem;
}

.iletisim-info-child-grid {
  /* height: 300px; */
  /* background-color: lightgreen; */
  /* border: 2px green solid; */
  padding: 3px;
  display: grid;
  grid-template-rows: 30px 100px 1fr;
  /* grid-template-rows: auto; */
  justify-items: start;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.iletisim-info,
.adres-title {
  font-size: 25px;
  font-weight: bolder;
  margin-left: 10px;
  /* background-color: lightskyblue;
    border: 2px darkblue solid; */
  /* align-self: center; */
}

.email-info-container {
  display: grid;
  grid-template-columns: 55px 1fr;
  font-size: 20px;
  /* background-color: lightskyblue;
    border: 2px darkblue solid; */
  justify-items: center;
  align-items: center;
  line-height: 25px;
  letter-spacing: 0.4px;
}

.email-icon {
  height: 40px;
  /* align-self: center;
    justify-self: center; */
}

.email-info h5 {
  font-weight: normal;
}

.adres-info {
  margin-left: 15px;
}

.phone-info-container {
  display: grid;
  grid-template-columns: 55px 1fr;

  font-size: 20px;
  /* background-color: lightskyblue;
    border: 2px darkblue solid; */
  justify-items: center;
  align-items: center;
  line-height: 30px;
  letter-spacing: 0.4px;
}

.phone-image {
  height: 40px;
  rotate: 10deg;
}

.adres-info-container {
  line-height: 30px;
  letter-spacing: 0.4px;
  font-size: 20px;
}

.adres-icon {
  height: 65px;
  width: 60px;
}

.iletisim-button {
  margin-top: 5px;
}

.btn-gradient-phone {
  background-color: var(--purple-transparent);
  font-size: 20px;
  font-weight: bolder;
  color: white;
  letter-spacing: 1.9px;
  text-transform: none;
  padding-top: 3px;
  padding-bottom: 3px;
  /* padding-left: 10px; */
}

.btn-gradient-phone:hover {
  background-image: var(--gradient-color-alt);
}

/* ulasim of iletisim-ulasim section */

.ulasim {
  background-color: rgb(243, 228, 250);
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-rows: 1fr 1fr;
  /* grid-template-columns: repeat(auto-fit, minmax(90rem, 1fr)); */
  /* margin-top: 30px; */
  /* column-gap: 20px; */
  /* row-gap: 40px; */
}

.ulasim .title {
  font-size: 60px;
  text-align: center;
  text-transform: none;
  letter-spacing: 0.5px;
  /* width: 65%; */
  /* background-color: transparent; */
}

.ulasim .sub-title {
  margin-top: 30px;
  font-size: 40px;
  /* width: 65%; */
}

.ulasim .main-heading {
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
}

.ulasim-alternatifi-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(42rem, 1fr));
  /* grid-template-columns: 1fr 1fr; */
  grid-gap: 0.5rem;
}

.ulasim-alternatifi-info,
.cevik-pansiyon-google-map {
  color: rgb(0, 0, 0);
  font-size: 18px;
  padding: 10px;
  max-width: 1000px;
  /* width: 65%; */
  /* border: 5px solid rgb(255, 0, 0); */
}

.cevik-pansiyon-google-map h4 {
  color: darkmagenta;
  justify-content: center;
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
}
.ulasim-alternatifi-image-container {
  /* border: 5px solid orange; */
  /* margin-right: 10px; */
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 90%;
  /* margin-right: 15px; */
}
.ulasim-alternatifi-image {
  /* background: url("./images/car1.jpg") center no-repeat; */
  /* background-size: cover; */

  aspect-ratio: 1.5/1;
  max-width: 100%;
  max-height: 500px;

  display: flex;
  align-items: center;
  justify-content: center;

  /* object-fit: contain; */
  border: 3px solid rgb(101, 101, 101);
  border-radius: 10px;
  /* width: 65%; */
}

.google-map-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(42rem, 1fr));
  /* grid-template-columns: 1fr 1fr; */
  grid-gap: 1.5rem;
  /* margin-left: 10px; */
  margin-right: 10px;
}

.google-iframe {
  /* width: 65%; */
  height: 100%;
  border: 2px rgb(74, 74, 74) solid;
  border-radius: 5px;
  margin-left: 5px;
}

.google-iframe iframe {
  width: 100%;
  /* height: 100%; */
}
.ulasim h3 {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 25px;
  color: darkmagenta;
  margin-left: 20px;
  /* text-align: center; */
}

.ulasim-alternatifi ul {
  list-style: circle;
}

.myList {
  list-style: square;
}

.hyperlinks {
  /* color: rgb(255, 255, 255); */
  color: black;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  font-style: italic;

  padding-left: 5px;
  padding-right: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1100px) {
}
